
<ul class="nav nav-pills mb-3">  
    <li class="nav-item">
        <a class="nav-link{% if active == 'entry' %} active{% endif %}" href="{% url 'seller:entry' %}">Entry</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if active == 'entry_list' %} active{% endif %}" href="{% url 'seller:entrylist' %}">List</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link{% if active == 'sellers' %} active{% endif %}" href="{% url 'seller:sellers' %}">sellers</a>
    </li> -->
    
</ul>