{% extends 'buyer/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% include 'buyer/_header.html' with active='buyers' %}

<div class="row">
  <div class="col-12 col-md-10">
    <div class="card">
      <div class="card-body">
        {% crispy form %}
        
        <hr>
        <table id="buyerlist" class="table table-sm table-bordered dt-responsive nowrap compact" style="width:100%">
          <thead>
            <tr> <th scope="col">SL</th><th scope="col">Name</th> 
              <th>Father</th><th>Mobile</th><th>Address</th>
              <th>District</th><th>Photo</th></tr>
          </thead>
          <tbody>
            {% for buyer in buyers %}
            <tr><td scope="row">{{forloop.counter}}</td>
              <td>{{buyer.name}}</td> <td>{{buyer.father_name}}</td>
              <td>{{buyer.mobile1}}</td><td>{{buyer.address}}</td>
              <td>{{buyer.district}}</td><td>{% if buyer.photo %}<img style="width:50px" class="img-responsive" src="{{ MEDIA_URL }}{{ buyer.photo.url }}">{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
  $(document).ready(function() {
      $('#buyerlist').DataTable({
      "pageLength": 10,
      dom: 'Bfrtip',
          buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
          ]
      });
  });
  </script>
  {% endblock %}