{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
{% include 'buyer/_header.html' with active='entry_list' %}

<div class="row">
  <div class="col-12 col-md-8">
    <div class="card">
      <div class="card-body">
        <h1> Entry List</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#clasroomlist').DataTable({
      "pageLength": 50
    });
});
</script>
{% endblock %}