{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<style>
  tfoot input {
  box-sizing: border-box;
}
</style>
{% endblock %}

{% block content %}
{% include 'buyer/_header.html' with active='entry_list' %}

    <div class="card">
      <div class="card-body">
        <table id="buyersearchlist" class="display" style="width:100%">
          <thead>
            <tr> 
              <th>Bill ID</th>
              <th>Date</th>
              <th>Buyer</th> 
              <th>Payment Method</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in results %}
            <tr>
              <td scope="row">#{{entry.billnumber}}</td>
              <td>{{entry.date_of_entered|date:"SHORT_DATE_FORMAT"}}</td> 
              <td>{{entry.buyer.name}}</td> 
              <td>{{entry.payment_mode}}({{entry.total}}.00rs)</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
                <th>Bill ID</th>
                <th>Date</th>
                <th>Buyer</th>
                <th>Payment Method</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  
$(document).ready(function() {
  
  $('#buyersearchlist tfoot th').each( function () {
      var title = $(this).text();
      $(this).html( '<input style="width:100px" type="text" placeholder="Search '+title+'" />' );
  } );
 
  $('#buyersearchlist').DataTable({
      "pageLength": 10,
      "order": [[ 0, "desc" ]],
      initComplete: function () {
        // Apply the search
        this.api().columns().every( function () {
            var that = this;
            $( 'input', this.footer() ).on( 'keyup change clear', function () {
                if ( that.search() !== this.value ) {
                    that.search( this.value ).draw();
                }
            } );
        } );
                
        var r = $('#buyersearchlist tfoot tr');
        
        $('#buyersearchlist thead').append(r);
        $('#search_0').css('text-align', 'center');
      },
          
  });
    
});
</script>
{% endblock %}


